@mixin button(
  $bg-color: $color-secondary,
  $text-color: $color-light,
  $border-width: 0,
  $border-color: $bg-color,
  $border-radius: 0.25rem,
  $font-size: 1rem,
  $padding: 0.5rem 1rem,
  $margin: 0.5rem,
  $cursor: pointer
) {
  @include font($font-primary, $font-size, 600);
  padding: $padding;
  margin: $margin;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  background-color: $bg-color;
  color: $text-color;
  cursor: $cursor;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.05);
    background-color: darken($bg-color, 10%);
  }

  &:active {
    transform: scale(0.95);
  }
}

@mixin button-ghost(
  $border-color: $color-secondary,
  $hover-bg-color: $border-color,
  $text-color: $border-color,
  $border-width: 1px,
  $border-radius: 0.25rem,
  $font-size: 1rem,
  $padding: 0.5rem 1rem,
  $margin: 0.5rem
) {
  @include button(
    $border-color,
    $text-color,
    $border-width,
    $border-color,
    $border-radius,
    $font-size,
    $padding,
    $margin
  );
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $hover-bg-color;
    color: $text-color;
  }
}

@mixin button-outlined(
  $border-color: $color-secondary,
  $hover-bg-color: $border-color,
  $text-color: $border-color,
  $border-width: 1px,
  $border-radius: 0.25rem,
  $font-size: 1rem,
  $padding: 0.5rem 1rem,
  $margin: 0.5rem
) {
  @include button(
    $border-color,
    $text-color,
    $border-width,
    $border-color,
    $border-radius,
    $font-size,
    $padding,
    $margin
  );
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $hover-bg-color;
    color: $color-light;
  }
}

@mixin button-rounded(
  $bg-color: $color-secondary,
  $text-color: $color-light,
  $border-width: 0,
  $border-color: $bg-color,
  $border-radius: 20px,
  $font-size: 1rem,
  $padding: 0.5rem 1rem,
  $margin: 0.5rem
) {
  @include button(
    $bg-color,
    $text-color,
    $border-width,
    $border-color,
    $border-radius,
    $font-size,
    $padding,
    $margin
  );

  &:hover,
  &:focus {
    transform: scale(1.05);
    background-color: darken($bg-color, 10%);
  }

  &:active {
    transform: scale(0.95);
  }
}

/*
* The `button` mixin creates a standard button with customizable parameters. 
* The parameters include:
*  - $bg-color: The background color of the button.
*  - $text-color: The color of the text in the button. The default color is light.
*  - $border-width: The width of the border. The default width is 0.
*  - $border-color: The color of the border. The default color is the same as the background color.
*  - $border-radius: The border radius of the button. The default radius is 0.25rem.
*  - $font-size: The font size of the button text. The default size is 1rem.
*  - $padding: The padding inside the button. The default padding is 0.5rem on the top/bottom and 1rem on the left/right.
*  - $margin: The margin inside the button. The default margin is 0.5rem on the top/bottom and 1rem on the left/right.

* On hover and focus, the button will scale up to 105% of its size and its background color will darken by 10%. When the button is active (clicked), it scales down to 95% of its size.
* 
* The `button-ghost` and `button-outlined` mixins create variations of the standard button. They start off with a transparent background, and their border and text colors are the same. On hover or focus, they fill in with a specified color. The `button-ghost` keeps the text color the same on hover, while the `button-outlined` changes the text color to light for contrast.
*/
