@mixin theme-colors($color) {
  background-color: $color;
  border-color: darken($color, 15%);
  color: contrast-color($color);
}
@function contrast-color($color) {
  $lightness: lightness($color);
  @if $lightness > 50 {
    @return darken($color, 50%);
  } @else {
    @return lighten($color, 50%);
  }
}
