/* Global Styles */
* {
  color: inherit;
  margin: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: $f-family-body;
  background: linear-gradient(to right, $c-primary, $c-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f-family-heading;
  color: $c-text;
  font-family: Nunito;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
}
h1 {
  font-size: $f-size-8;
}
h2 {
  font-size: $f-size-5;
}
h3 {
  font-size: $f-size-4;
}
h4 {
  font-size: $f-size-3;
}

p {
  color: $c-text;
  text-align: center;
  font-family: PT Sans;
  font-size: $f-size-3;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: 0;
}
img {
  max-width: 100%;
}

button {
  padding: 0.4rem 1.2rem;
  font-weight: 700;
  line-height: normal;
  border-radius: 1.6rem;
}
