/* DropDownNav.scss */
.drop-down-container {
  overflow: hidden;
}

.drop-down-link {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

.button {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}
