.room {
  @include flex(row, flex-start, flex-start);
  font-family: 'Inria Sans';
  .chat-room {
    &__header {
      width: 85vw;
      background-color: $c-secondary;
      @include flex(row, space-between, center);
      &--bookmark {
        @include flex(row, flex-start, center);
        margin-left: 1rem;
      }
      &--name {
        font-size: 24px;
        font-weight: 400;
        margin-left: 0.4rem;
      }
      &--capacity {
        margin-right: 1rem;
      }
    }
    .chat-area {
      max-height: 80vh;
      overflow-y: scroll;

      color: $c-text;
      padding-bottom: 2rem;
      &__message {
        margin-top: 1rem;
        text-decoration: none;
        list-style: none;
        &--wrapper {
          @include flex(row, flex-start, flex-end);
          img {
            margin-bottom: 0.4rem;
          }
        }
        &--name {
          margin-right: 0.4rem;
          font-size: 20px;
        }
        &--time {
          font-size: 12px;
        }
        &--text {
          font-size: 16px;
          margin-top: 1rem;
          margin-left: 3.8rem;
        }
      }
    }
    &__input {
      button {
        margin-left: 1.2rem;
        color: $c-text;
        background-color: $c-secondary;
        border-radius: 8px;
        border: none;
        padding: 0.6rem 1.2rem;
        font-size: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
      input {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 0.4rem 0;
        width: 75vw;
        margin-left: 1.2rem;
        font-size: 16px;
      }
    }
  }
}
