$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-tertiary: 'Montserrat', sans-serif;

/* color */
$color-primary-complementary: complement($color-primary);
$color-secondary-complementary: complement($color-secondary);
$color-tertiary-complementary: complement($color-tertiary);

/* Typography */
$base-font-size: 1rem;
$font-size-xs: $base-font-size * 0.5;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.25;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-style-normal: normal;
$font-style-italic: italic;

$line-height-tight: 1.25;
$line-height-normal: 1.5;
$line-height-loose: 2;

$letter-spacing-tight: -0.05em;
$letter-spacing-normal: 0;
$letter-spacing-wide: 0.05em;

/* Spacing */
$base-spacing: 0.75rem;
$spacing-xs: $base-spacing * 0.5;
$spacing-sm: $base-spacing * 0.75;
$spacing-md: $base-spacing * 1.25;
$spacing-lg: $base-spacing * 1.5;
$spacing-xl: $base-spacing * 2;
$spacing-xxl: $base-spacing * 3;

/* Layout Spacing */
$layout-spacing-xs: $base-spacing * 2;
$layout-spacing-sm: $base-spacing * 3;
$layout-spacing-md: $base-spacing * 5;
$layout-spacing-lg: $base-spacing * 8;
$layout-spacing-xl: $base-spacing * 13;
$layout-spacing-xxl: $base-spacing * 21;

/* Padding */
$base-padding: 0.75rem;
$padding-xs: $base-padding * 0.5;
$padding-sm: $base-padding * 0.75;
$padding-md: $base-padding * 1.25;
$padding-lg: $base-padding * 1.5;
$padding-xl: $base-padding * 2;
$padding-xxl: $base-padding * 3;

/* Margin */
$base-margin: 0.75rem;
$margin-xs: $base-margin * 0.5;
$margin-sm: $base-margin * 0.75;
$margin-md: $base-margin * 1.25;
$margin-lg: $base-margin * 1.5;
$margin-xl: $base-margin * 2;
$margin-xxl: $base-margin * 3;

// Z-Index Variables
$z-index-sticky: 1;
$z-index-fixed: 2;
$z-index-dropdown: 100;
$z-index-modal: 1000;
$z-index-overlay: 200;
$z-index-tooltip: 1010;
$z-index-popover: 1020;
$z-index-navbar-fixed: 1030;
$z-index-sidebar: 1040;
$z-index-modal-backdrop: 1050;

/* Shadows */
$shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

$shadow-none: none;
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

$shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-xlight: 0 1px 2px rgba(0, 0, 0, 0.05);
$shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.25);
$shadow-xdark: 0 10px 25px rgba(0, 0, 0, 0.35);

/* Borders */
$base-border-width: 1px;
$base-border-radius: 20px;
