$buttonClass-map: (
  primary: $color-primary,
  secondary: $color-secondary,
  tertiary: $color-tertiary,
  accent1: $color-accent1,
  accent2: $color-accent2,
  accent3: $color-accent3,
  neutral1: $color-neutral1,
  neutral2: $color-neutral2,
  error: $color-error,
  warning: $color-warning,
  info: $color-info,
  success: $color-success,
  primary-complementary: $color-primary-complementary,
  secondary-complementary: $color-secondary-complementary,
  tertiary-complementary: $color-tertiary-complementary,
);

@each $class, $bg-color in $buttonClass-map {
  .btn-#{$class} {
    @include button($bg-color);
  }

  .btn-#{$class}-outline {
    @include button(transparent, 1px, $bg-color);
  }

  .btn-#{$class}-rounded {
    @include button($bg-color, 0, $bg-color, 50%);
  }

  .btn-#{$class}-sm {
    @include button($bg-color, 0, $bg-color, 0.25rem, 0.875rem, 0.25rem 0.5rem);
  }

  .btn-#{$class}-lg {
    @include button($bg-color, 0, $bg-color, 0.25rem, 1.25rem, 0.75rem 1.5rem);
  }
}
