$margin-map: (
  0: 0,
  1: $margin-xs,
  2: $margin-sm,
  3: $margin-md,
  4: $margin-lg,
  5: $margin-xl,
  6: $margin-xxl,
);

@each $size, $value in $margin-map {
  .m-#{$size} {
    margin: $value;
  }

  .mt-#{$size} {
    margin-top: $value;
  }

  .mb-#{$size} {
    margin-bottom: $value;
  }

  .ml-#{$size} {
    margin-left: $value;
  }

  .mr-#{$size} {
    margin-right: $value;
  }

  .mx-#{$size} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$size} {
    margin-top: $value;
    margin-bottom: $value;
  }
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
