$padding-map: (
  0: 0,
  1: $padding-xs,
  2: $padding-sm,
  3: $padding-md,
  4: $padding-lg,
  5: $padding-xl,
  6: $padding-xxl,
);

@each $size, $value in $padding-map {
  .p-#{$size} {
    padding: $value;
  }

  .pt-#{$size} {
    padding-top: $value;
  }

  .pb-#{$size} {
    padding-bottom: $value;
  }

  .pl-#{$size} {
    padding-left: $value;
  }

  .pr-#{$size} {
    padding-right: $value;
  }

  .px-#{$size} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$size} {
    padding-top: $value;
    padding-bottom: $value;
  }
}

.pt-auto {
  padding-top: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.pl-auto {
  padding-left: auto;
}

.pr-auto {
  padding-right: auto;
}
