/**
  * ? Typography
  *     - FONT SIZES
  *     - FONT COLORS
  *     - FONT WEIGHTS
  *     - FONT STYLES
  *     - FONT FAMILY
  *     - TEXT TRANSFORM
  *     - TEXT DECORATION
  *     - TEXT ALIGNMENT
 */

// ! FONT SIZES
@each $size, $value in $font-sizes {
  .font-size-#{$size} {
    font-size: $value;
  }
}

// ! FONT COLORS
@each $color, $value in $colors {
  .font-#{$color} {
    color: $value;
  }
}

// ! FONT WEIGHTS
$font-weights: (
  "normal": normal,
  "bold": bold,
  "light": 300,
  "heavy": 900,
);

@each $name, $weight in $font-weights {
  .font-weight-#{$name} {
    font-weight: $weight;
  }
}

// ! FONT STYLES
.font-style-normal {
  font-style: normal;
}
.font-style-italic {
  font-style: italic;
}
.font-style-oblique {
  font-style: oblique;
}

// ! FONT FAMILY
.font-primary {
  font-family: $font-primary;
}
.font-secondary {
  font-family: $font-secondary;
}
.font-tertiary {
  font-family: $font-tertiary;
}

// ! TEXT TRANSFORM
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

// ! TEXT DECORATION
.text-decoration-none {
  text-decoration: none;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-decoration-line-through {
  text-decoration: line-through;
}
.text-decoration-overline {
  text-decoration: overline;
}

// ! TEXT ALIGNMENT
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
