/**
  * ? UTILITIES
  *     - DISPLAY
  *     - POSITION
  *     - OVERFLOW
  *     - VISIBILITY
  *     - Z_INDEX
  *     - STICKY
  *     - CURSOR
  */

//! DISPLAY
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-table {
  display: table !important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}

// ! POSITION
.position-static {
  position: static;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-sticky {
  position: sticky;
}

// ! OVERFLOW
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}

// ! VISIBILITY
.hidden {
  display: none;
}
.visible {
  display: block;
}

@each $breakpoint, $value in $breakpoints {
  .hidden-#{$breakpoint} {
    @include breakpoint($value) {
      display: none !important;
    }
  }
  .visible-#{$breakpoint} {
    @include breakpoint($value) {
      display: block !important;
    }
  }
}

// ! Z_INDEX
$z-indexes: (
  "auto": auto,
  "base": 0,
  "sticky": $z-index-sticky,
  // 1
  "dropdown": $z-index-dropdown,
  // 100
  "overlay": $z-index-overlay,
  // 200
  "modal": $z-index-modal,
  // 1000
  "highest": 9999,
);
@each $name, $z-index in $z-indexes {
  .z-#{$name} {
    z-index: $z-index;
  }
}

// ! STICKY
.sticky-top {
  position: sticky;
  top: 0;
}
.sticky-bottom {
  position: sticky;
  bottom: 0;
}
.sticky-left {
  position: sticky;
  left: 0;
}
.sticky-right {
  position: sticky;
  right: 0;
}

// ! CURSOR
.cursor-pointer {
  cursor: pointer;
}
.cursor-text {
  cursor: text;
}
.cursor-wait {
  cursor: wait;
}
